@tailwind base;
@tailwind components;
@tailwind utilities;

.containerStore {
  max-width: 90%;
  width: 1200px;
  margin: 0 auto;
}

.animation {
  width: 80%;
  margin: 0 auto;
}


@media (min-width:768px){
  .animation{
    width: 100%;
  }
}